<html>
<body>
<h2>Add Users </h2><br>
<div class="adduser">
<form [formGroup]="adduserfrm" (ngSubmit)="addUser()">
    <label><b> User Id </b></label>  
    <br>
    <input type="text" id="uid" name="uid" formControlName="uid">
    <br><br>
    <label><b> User Name </b> </label>    
    <input type="text" id="uname" name="uname" formControlName="uname">
    <br><br>    
        <label><b> User Password     
        </b>    
        </label>   
    <input type="text" id="pwd" name="pwd" formControlName="pwd">
    <br><br>
    <input type="submit" name="log" id="log" value="Add User">       
        <br><br>
</form>
</div>
</body>
</html>